* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  position: relative;
}
/* moving planets______*/
.sun {
  width: 20rem;
  height: 50%;
  background-size: contain;
  border-radius: 50%;
}

.container.firstpage div,
.container.firstpage {
  animation: spinfirstpage 100s linear infinite;
}
.container.firstpage {
  width: 10rem;
  height: 10rem;

  background: linear-gradient(
    -45deg,
    rgba(207, 121, 50, 0.63),
    rgba(196, 194, 95, 0.863),
    rgba(224, 140, 71, 0.74),
    rgba(196, 194, 95, 0.863),
    rgba(199, 116, 68, 0.774),
    rgba(196, 194, 95, 0.863),
    white
  );

  box-shadow: inset 0 0rem 2rem 0.5rem rgba(199, 81, 52, 0.295),
    inset 0rem 0rem 2rem 0rem rgba(228, 115, 50, 0.555),
    0 0rem 2rem 0.5rem rgba(199, 81, 52, 0.295),
    0rem 0rem 2rem 0rem rgba(228, 115, 50, 0.555);
  background-size: 400% 400%;
  animation: changesun 10s ease-in-out infinite;
}

@keyframes changesun {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container.firstpage .earth.firstpage {
  width: 4rem;
  height: 4rem;
  background: transparent;
  padding: 0;
  border-radius: 50%;
  box-shadow: inset 0 0.3rem 0.5rem 0 rgba(212, 120, 84, 0.295),
    inset 0 0 1rem 0.3rem rgba(36, 116, 46, 0.658),
    inset 0 0.5rem 3rem 0rem rgba(182, 128, 48, 0.644),
    inset 0 0.5rem 2rem 0rem rgba(124, 161, 192, 0.9),
    0 0 1.25rem 0 rgba(10, 53, 53, 0.459), 0 0 1rem 0 rgba(216, 157, 133, 0.555),
    0 0 1rem 0 rgba(186, 219, 110, 0.555);
}
.container.firstpage .moon.firstpage {
  width: 1.5rem;
  height: 1.5rem;
  background: black;
  padding: 0;
  margin: 6rem;
  border-radius: 50%;
  box-shadow: inset 0 0.4rem 0.5rem 0 rgba(134, 128, 56, 0.753),
    inset 0.1rem 0.9rem 0.6rem 0 rgba(146, 136, 42, 0.829),
    0 0 1.25rem 0 rgba(54, 53, 48, 0.555), 0 0 1rem 0 rgba(216, 157, 133, 0.555),
    0 0 1rem 0 rgba(186, 219, 110, 0.555);
}

.container.firstpage .earthholder.firstpage {
  width: 30rem;
  height: 25rem;
  border: none;
  background: transparent;
  box-shadow: none;
  border-radius: 50%;
}
@keyframes spinfirstpage {
  0% {
    transform: rotate(360deg);
  }
}
.containerbig .biglinetop4,
.containerbig .biglinedown4 {
  width: 2rem;
  height: 2rem;
  background: transparent;

  border-radius: 50%;
}
.containerbig .biglinetop4 {
  animation: rotateright 20s linear infinite;
  box-shadow: 0 0 1rem 0 rgba(255, 86, 19, 0.555),
    0 0 0.2rem 0 rgba(235, 145, 110, 0.555),
    inset 0 0 0.21rem 0 rgba(0, 0, 0, 0.377),
    inset 0 0 0.36rem 0 rgba(149, 235, 143, 0.308);
}

.containerbig .biglinedown4 {
  animation: rotateleft 20s linear infinite;
  margin-top: -2.1rem;
  box-shadow: 0 0 1rem 0 rgba(255, 86, 19, 0.555),
    0 0 0.2rem 0 rgba(235, 145, 110, 0.555),
    inset 0 0 0.36rem 0 rgba(113, 121, 7, 0.466),
    inset 0 0 0.21rem 0 rgba(0, 0, 0, 0.356), inset 0 0 0.3rem 0 firebrick;
}
@keyframes rotateright {
  0% {
    transform: scale(0) rotatez(360deg);
  }
  100% {
    transform: scale(7);
  }
}
@keyframes rotateleft {
  0% {
    transform: scale(7) rotatez(-360deg);
  }
  100% {
    transform: scale(0);
  }
}
/* Shared setup for all containers_______________________________*/
.all {
  height: 100%;
}
.mainContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;

  height: 10rem;
}
.container div {
  background-color: transparent;
  box-shadow: 0 0 1rem 0 rgba(255, 86, 19, 0.555),
    0 0 0.2rem 0 rgba(235, 145, 110, 0.555),
    inset 0 0 0.21rem 0 rgba(0, 0, 0, 0.377),
    inset 0 0 0.36rem 0 rgba(149, 235, 143, 0.308);
}
.container {
  height: 7rem;
  width: 7rem;
  background: linear-gradient(0deg, rgb(41, 41, 41), rgb(12, 12, 12));
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 2.5rem 0 2.5rem 0;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.3);
  transition: 1.5s;
  background-color: rgba(255, 86, 19, 0.075);
}
.container * {
  width: 2.5rem;
  height: 0.12rem;
  background-color: #9c9c9c;
  transition: 1.5s;
}
.container:hover {
  box-shadow: inset 0px 0px 10px 0px rgba(255, 86, 19, 0.555),
    0px 0px 20px 0px rgba(255, 86, 19, 0.555);
  background: linear-gradient(
    -90deg,
    rgba(255, 86, 19, 0.048),
    rgb(41, 41, 41)
  );
  transform: scale(0.9, 0.9);
  transition: 1.5;
  cursor: none;
}

.container:hover div {
  background-color: rgba(255, 86, 19, 0.555);
  width: 2rem;
  height: 0.12rem;
}
/* Animating balck hole__________________________________________*/
.firstPage {
  height: 60%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerbig {
  filter: blur(5px) brightness(2);
  animation: leftright 100s linear infinite;
}

@keyframes leftright {
  0% {
    transform: translateX(-60rem);
  }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 400%;
  }

  100% {
    background-position: 100%;
  }
}

/* First row of menus___________________________________________*/

/* Container 1__________________________________________________*/

.container:hover .lineTop1 {
  transform: rotate(-45deg) translate(0rem, 0.5rem);
  box-shadow: 0 10px 2px 0 rgba(255, 86, 19, 0.555);
}
.container:hover .lineDown1 {
  transform: rotate(45deg) translate(-0.6rem, -0.3rem);
  box-shadow: 0 10px 2px 0 rgba(255, 86, 19, 0.555);
}
/* Container 2__________________________________________________*/

.container:hover .lineTop2 {
  transform: rotate(45deg) translate(0.5rem, -0.5rem);
  box-shadow: 0 10px rgba(255, 86, 19, 0.555);
}
.container:hover .lineDown2 {
  transform: rotate(-45deg) translate(0.2rem, -1.2rem);
  box-shadow: 0 10px rgba(255, 86, 19, 0.555);
}
/* Container 3__________________________________________________*/

.container.three:hover {
  box-shadow: inset 0 0 0.36rem 0 rgba(238, 175, 150, 0.555),
    inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9), 0 0 2rem 0 rgba(255, 86, 19, 0.555);
}
.container.three:hover * {
  box-shadow: inset 0 0 0.36rem 0 rgba(131, 92, 77, 0.658),
    inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9),
    0 0 1.25rem 0 rgba(255, 86, 19, 0.555);
}
.container:hover .lineRight3 {
  transform: rotate(59deg) translate(0.7rem, -0.2rem);
}
.container:hover .lineDown3 {
  transform: rotate(-420deg) translate(-0.1rem, -0.5rem);
}
.container:hover .lineLeft3 {
  transform: rotate(0deg) translate(0, 0rem);
}

/* Container 4__________________________________________________*/
.container:hover .lineTop4 {
  transform: translatex(-6px);
  box-shadow: -6px 8px rgba(255, 86, 19, 0.555);

  margin-left: 1.5rem;
}
.container:hover .lineDown4 {
  transform: translate(-10px, 0px);
  background-color: rgba(255, 86, 19, 0.555);
  box-shadow: none;
  margin-left: 0.5rem;
}
/* Container 5__________________________________________________*/

.container.five:hover {
  box-shadow: inset 0 0 0.36rem 0 rgba(238, 175, 150, 0.555),
    inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9), 0 0 2rem 0 rgba(255, 86, 19, 0.555);
}

.container.five:hover div {
  box-shadow: 0px 10px rgba(255, 86, 19, 0.555);
}
.container:hover .TopRight5 {
  transform: rotate(45deg) translate(0.5rem, -0.5rem);
}
.container:hover .bottomRight5 {
  transform: rotate(135deg) translate(0.1rem, 0.2rem);
}
.container:hover .bottomLeft5 {
  transform: rotate(315deg) translate(0.2rem, 0.1em);
}
.container:hover .topLeft5 {
  transform: rotate(224deg) translate(0.6rem, -0.4rem);
}

/* Seconde row of menus_________________________________________*/

/* container 1__________________________________________________*/
.container.first:hover {
  transform: rotate(-90deg) scale(0.9);
}
.container.first:hover,
.container.first:hover * {
  box-shadow: inset 0 0 0.36rem 0 rgba(149, 235, 143, 0.308),
    inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9),
    0 0 1.25rem 0 rgba(255, 86, 19, 0.555);
}
.container:hover .sec-row-line-top1,
.container:hover .sec-row-line-down1 {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: 1px solid rgba(255, 86, 19, 0.74);
  opacity: 0.7;
}
.container:hover .sec-row-line-top1 {
  border-radius: 1% 90%;
  transform: rotate(300deg);
}
.container:hover .sec-row-line-mid1 {
  opacity: 0.3;
  transform: translatex(0.5rem);
}
.container:hover .sec-row-line-down1 {
  border-radius: 90% 1%;
  transform: rotate(-300deg);
}

/* container 2__________________________________________________*/
.container.second:hover {
  padding: 1.5rem;
  background-color: rgba(255, 86, 19, 0.13);
}
.container.second:hover * {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  opacity: 0.7;
  box-shadow: inset 0 0 0.36rem 0 rgba(255, 201, 179, 0.555),
    inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9),
    inset 0 0 0.31rem 0 rgb(236, 193, 165),
    0 0 1.25rem 0 rgba(255, 86, 19, 0.555);
  border-radius: 50%;
}
/* Container 3__________________________________________________*/
.container.third:hover {
  box-shadow: inset 0 0 0.36rem 0 rgba(149, 235, 143, 0.308),
    inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9), 0 0 2rem 0 rgba(255, 86, 19, 0.555);
}
.container.third:hover * {
  box-shadow: inset 0 0 0.36rem 0 rgba(255, 86, 19, 0.555),
    inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9), 0 0 2rem 0 rgba(255, 86, 19, 0.555);
}

.container:hover .sec-row-line-top3 {
  width: 3rem;
}
.container:hover .sec-row-line-mid3 {
  box-shadow: inset 0 0 0.36rem 0 rgba(149, 235, 143, 0.308),
    inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9), 0 0 2rem 0 rgba(255, 86, 19, 0.555);
}
.container:hover .sec-row-line-bottom3 {
  width: 0.8rem;
}

/* Container 4__________________________________________________*/
.container.fourth {
  position: relative;
}

.container.fourth:after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 50%;
  z-index: -1;
  filter: blur(20px);
}

.container.fourth:after {
  background: linear-gradient(
    235deg,
    rgba(149, 235, 143, 0.308),
    rgba(0, 0, 0, 0.459),
    rgba(255, 255, 255, 0.192),
    rgba(248, 104, 47, 0.345)
  );
  background-size: 400%;
  animation: animate 30s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 200% 0;
  }
  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 100% 0;
  }
}
.container.fourth:hover .sec-row-line-top4,
.container.fourth:hover .sec-row-line-down4 {
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: 2px solid rgba(192, 241, 241, 0.377);
  border-radius: 20%;
  box-shadow: 0 0 2rem 0 rgba(255, 86, 19, 0.555),
    inset 0 0 0.36rem 0 rgba(149, 235, 143, 0.308),
    inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9),
    inset 0 0 0.31rem 0 rgba(255, 246, 246, 0.9);
}
.container.fourth:hover .sec-row-line-top4 {
  animation: rotate 15s linear infinite;
}

.container.fourth:hover .sec-row-line-down4 {
  animation: reversRotate 15s linear infinite;
  margin-top: -2.1rem;
}
@keyframes rotate {
  0% {
    transform: scale(0) rotatez(360deg) rotatey(360deg) rotatex(360deg);
  }
  100% {
    transform: scale(2.5);
  }
}
@keyframes reversRotate {
  0% {
    transform: scale(2.5) rotatez(-360deg) rotatey(-360deg) rotatex(-360deg);
  }
  100% {
    transform: scale(0);
  }
}

/* Conatainer 5________________________________________________ */

.container.fifth .hidden {
  opacity: 1;
}
.container.fifth:hover div {
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: 1px solid rgba(255, 86, 19, 0.507);
  border-radius: 1% 90%;
  transform: rotate(45deg);
  box-shadow: inset 0 0 0.36rem 0 rgba(149, 235, 143, 0.308),
    inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9),
    0 0 1.25rem 0 rgba(255, 86, 19, 0.555);

  margin-top: -2rem;
  animation: rotatefifth 1s linear infinite;
}
.container.fifth:hover {
  box-shadow: inset 0 0 0.36rem 0 rgba(149, 235, 143, 0.308),
    inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9),
    0 0 1.25rem 0 rgba(255, 86, 19, 0.555);
}
@keyframes rotatefifth {
  50% {
    transform: rotatez(90000deg);
  }
}
.container.fifth:hover .hidden {
  opacity: 0;
}

/* Third row of menus_________________________________________*/
/* container 1__________________________________________________*/
.container.thefirst .hidden {
  opacity: 0;
}
.container.thefirst:hover {
  padding: 0.3rem;
}
.container.thefirst:hover div {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: 1px solid rgba(255, 86, 19, 0.74);
  opacity: 0.7;
  border-radius: 1% 90%;
  transform: rotate(-45deg);
}

/* container 2______________________________________________ */
.container.thesecond:hover {
  background-color: transparent;

  opacity: 0.7;
  background: black;
  transform: rotate(1deg);
  padding: 0;
  animation: spin 20s linear infinite;
}
.container.thesecond:hover .little {
  width: 1.5rem;
  height: 1.5rem;

  background: black;
  padding: 0;
  border-radius: 50%;
  animation: spin 10s linear infinite;
  box-shadow: inset 0 0.4rem 0.5rem 0 rgba(66, 158, 59, 0.63),
    inset 0.1rem 0.4rem 0.6rem 0 rgba(90, 199, 199, 0.726),
    0 0 1.25rem 0 rgba(255, 86, 19, 0.555),
    0 0 1rem 0 rgba(216, 157, 133, 0.555), 0 0 1rem 0 rgba(186, 219, 110, 0.555);
}
.container.thesecond:hover div {
  width: 6.4rem;
  height: 6.4rem;
  border: none;
  box-shadow: none;
  background: transparent;

  border-radius: 50%;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* container 3_______________________________________________________ */
.container.thethird:hover {
  background-color: transparent;
  opacity: 0.7;
  background: black;
  padding: 0;
  animation: spin2 20s linear infinite;
  box-shadow: inset 0 0 0.5rem 0 rgba(128, 238, 120, 0.534),
    inset 0 0 1rem 0 rgba(0, 0, 0, 0.9), 0 0 1.25rem 0 rgba(255, 86, 19, 0.555),
    0 0 1rem 0 rgba(216, 157, 133, 0.555), 0 0 1rem 0 rgba(186, 219, 110, 0.555);
}
.container.thethird:hover .earth {
  width: 4rem;
  height: 4rem;
  background: transparent;
  padding: 0;
  z-index: 1;
  animation: spin3 20s linear infinite;
  border-radius: 50%;
}
.container.thethird:hover .moon {
  width: 1.5rem;
  height: 1.5rem;
  background: black;
  padding: 0;

  border-radius: 50%;
  animation: spin3 20s linear infinite;
}

@keyframes spin3 {
  0% {
    transform: rotate(360deg);
  }
}

/* container 4______________________________________________ */
.container.theforth:hover {
  background-color: transparent;
  /* border: 1px solid rgba(255, 86, 19, 0.74); */
  border: none;
  opacity: 0.7;
  background: black;
  transform: rotate(1deg);
  padding: 0;
  animation: spin4 1s linear infinite;
}
.container.theforth:hover .little {
  width: 0.3rem;
  height: 0.3rem;
  opacity: 0.8;
  padding: 0;
  border-radius: 50%;
  animation: spin4 1s linear infinite;
  box-shadow: inset 0 0.4rem 0.5rem 0 rgba(66, 158, 59, 0.63),
    inset 0.1rem 0.4rem 0.6rem 0 rgba(90, 199, 199, 0.726),
    0 0 1.25rem 0 rgba(255, 86, 19, 0.555),
    0 0 1rem 0 rgba(216, 157, 133, 0.555), 0 0 1rem 0 rgba(186, 219, 110, 0.555);
}
.container.theforth:hover div {
  width: 4.9rem;
  height: 4.9rem;
  border: none;
  box-shadow: none;
  background: transparent;

  border-radius: 50%;
}
@keyframes spin4 {
  100% {
    transform: rotate(9000deg);
  }
}
/* Name of designer_____________________________________________*/
.designer {
  background-color: transparent;
  color: rgba(255, 86, 19, 0.555);
  font-family: "Parisienne", cursive;
  padding-top: 0.2rem;
  margin-bottom: 2rem;
  transform: translate(-30rem, 30rem);
}
h2 {
  font-weight: lighter;
  text-align: center;
  text-shadow: 0 0 1.5rem rgb(245, 169, 139);
}
